# You can make sure you have all the following packages by 
# running pip install -r Requirements.txt in the current folder

emoji #Library to handle emojis in Python
googletrans==4.0.0-rc1 #Translation library
lyricsgenius #Genius library for lyrics
pylcs #Library to calculate the longest common subsequence
pysparql_anything #Library to use SPARQLAnything and hence perform SPARQL queries in all kind of structures (not just rdf triples)
rdblib #Library to navigate through triples and query information from them
potipy #Spotify library to retrieve the song duration